	#img1{
  		height: 50px;
  	}

  	body{
  		margin-top:100px
  	}

  	.jumbotron{
  		color: purple
  	}

  	i{
  		font-size: 100px;
  		color: black;
  	}

    a {
      color: red;
    };

   .img-thumbnail {
      height:10px;
      width:100px;
    }